# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env
.venv
env/
venv/
ENV/
VENV/

# Data files
data/Kunde_Structured_Output

# Script output
script_output/
desription_output/

# IDE / Editor specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
*.csv
*.zip
*.tar
*.parquet
*.tmp


