# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env
.venv
env/
venv/
ENV/
VENV/

# Data files
data/
notebooks/

# Script output
script_output/

# IDE / Editor specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db